@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: rgb(221, 221, 221);
}

main {
    padding-top: 10vh;
    min-height: 100%;
}

.post-page {
    background-color: white;
}

.votes-number {
    font-size: 13px;
}


/* .original{
    background-color: red;
}
.other{
    background-color: blue;
} */

.sort {
    border-spacing: 20px;
    border-bottom: 2px solid black;
}

.images img {
    width: 100%;
}

.un-authed {
    display: none;
}

.offset-0 {
    margin-left: 5%;
}

.posted-info {
    font-size: 13px;
    color: gray;
}