.card-header {
  background: url("../images/cute-lime.jpg") rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

.post1 {
  border: 2px solid rgb(128, 128, 128);
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}
