
* {
  box-sizing: border-box;
}

.post1 {
  border: 2px solid rgb(128, 128, 128);
}

.owner {
  color: #808080;
  font-size: 13px;
}

ul {
  list-style-type: none;
}

ul li {
  display: inline-block;
}

.views {
  font-size: 15px;
  padding-top: 60px;
}

.card-header {
  background: url("../images/cute-lime.jpg") rgba(0, 0, 0, 0.2);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  color: white;
}

.hidden {
  display: none;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
* {
    /* box-sizing: border-box;
    margin: 0;
    padding: 0; */
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

html,
body {
    height: 100%
}

.fa-bars {
    color: limegreen;
}

main {
    min-height: 100%;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 5%;
}

.search-box input[type="text"] {
    width: 100%;
    padding: 10px;
    padding-right: 30px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    font-size: 12px;
    color: limegreen;
    outline: none;
}

.fa-search {
    position: absolute;
    top: 32px;
    right: 40%;
    transform: translateY(-50%);
    font-size: 16px;
}

.dropdown {
    position: relative;
    margin: 0;
    padding: 0;
}

.dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown ul::after {
    content: "";
    clear: both;
    display: block;
}

.dropdown ul li {
    padding: 10px;
}

.dropdown ul li a {
    text-decoration: none;
    color: black;
}

.dropdown ul li a:hover {
    color: lime;
}

.dropdown-content {
    position: absolute;
    min-width: 50px;
    max-width: 100px;
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
}

.logo {
    width: 10%;
    cursor: pointer;
}


/* FOOTER */

footer {
    background-color: limegreen;
    color: #fff;
    height: 62vh;
}

.foot-content {
    width: 100%;
    display: flex;
}

.foot-content,
.footer-section {
    flex: 1;
}

.fa-facebook,
.fa-twitter,
.fa-instagram,
.fa-youtube {
    color: #fff;
}

.about .contact-info span {
    display: block;
    margin-bottom: 8px;
    font-size: 1.1em;
}

.about .socials a {
    border: 1px solid limegreen;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
}

.about .socials a:hover {
    border: 1px solid white;
    transition: all .3s;
    color: #fff;
}

.terms {
    color: white;
}

.terms:hover {
    margin-left: 15px;
    color: #2b2d2f;
    transition: all .3s;
}

.foot-content .footer-section {
    padding-left: 3%;
    padding-right: 20%;
    padding-bottom: 2%;
}

.foot-content .footer-section img {
    padding-top: 5%;
    padding-bottom: 2%;
}

.foot-content .contact h2 {
    color: #fff;
    text-align: center;
    padding-top: 7%;
}

.foot-content .contact form {
    border-radius: 10px;
    padding: 20px;
    padding-left: 20%;
    width: 100%;
}

.foot-content .contact .text-input {
    align-self: center;
    width: 100%;
    line-height: 1.5rem;
    padding: .9rem 1.2rem;
    margin: 5px 0;
    display: inline-block;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

.foot-content .contact .text-input:hover {
    border: 1px solid #2b2d2f;
}

.btn {
    background-color: #2b2d2f;
    color: white;
}
.sidebar {
    background-color: blueviolet;
    height: 50%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    overflow-x: hidden;
    text-align: center;
}
/* START of css style for CAROUSEL of trendingProjects */
.multi-item-carousel .carousel-inner > .item {
  transition: 500ms ease-in-out left;
}
.multi-item-carousel .carousel-inner .active.left {
  left: -33%;
}
.multi-item-carousel .carousel-inner .active.right {
  left: 33%;
}
.multi-item-carousel .carousel-inner .next {
  left: 33%;
}
.multi-item-carousel .carousel-inner .prev {
  left: -33%;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .multi-item-carousel .carousel-inner > .item {
    transition: 500ms ease-in-out left;
    transition: 500ms ease-in-out all;
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
    -webkit-transform: none!important;
            transform: none!important;
  }
}
.multi-item-carousel .carouse-control.left,
.multi-item-carousel .carouse-control.right {
  background-image: none;
}
body {
  background: #333;
  color: #ddd;
}
h1 {
  color: white;
  font-size: 2.25em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 2em;
  text-shadow: 0px 2px 0px #000000;
}
/* END of css style for CAROUSEL of trendingProjects */
    padding: 10px 15px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


/* MEDIA QUERIES */
