body {
    background-color: rgb(219, 219, 215);
}

.posts-options {
    background-color: white;
}

.live,
.images {
    display: none;
}

.body-div:hover,
.live-div:hover,
.images-div:hover {
    background-color: rgb(238, 242, 233);
}

.body-div,
.live-div,
.images-div {
    cursor: pointer;
    text-align: center;
}

.create-title {
    padding-top: 5%;
    margin: 30px auto;
    color: #2b2d2f;
}

.upload-loading-btn {
    display: none;
}

.live-div {
    text-align: center;
}

.selected {
    background-color: rgb(238, 242, 233);
}

.unselected {
    background-color: white;
}

.images-upload,
.image-preview {
    display: none;
}

.addPic {
    list-style-type: none;
}

.addPic li {
    display: inline;
}

.image-preview img {
    width: 45%;
    margin-top: 5%;
    margin-right: 2%;
}

.guidelines-head {
    background-image: url("../images/community-art-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.card-text,
.create-title {
    border-bottom: .5px solid gray;
    padding-bottom: 15px;
}

.body-div p,
.live-div p,
.images-div p {
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 1.1em;
    color: gray;
}

.inactive {
    border-bottom: 2.2px solid white;
    color: gray;
}

.active {
    border-bottom: 2.2px solid limegreen;
    color: limegreen;
}

.active-img {
    color: limegreen;
}

.btn-success {
    background-color: limegreen;
}

.btn-light {
    color: limegreen;
    border: 1px solid limegreen;
}

.btn-light:hover {
    color: limegreen;
    border: 1px solid limegreen;
}

.inactive-img {
    color: gray;
}

.active-txt {
    color: limegreen;
}

.inactive-txt {
    color: gray;
}