@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
* {
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

body {
    background-color: rgb(219, 219, 215);
}

.posts-options {
    background-color: white;
}

.live {
    display: none;
}

.body-div:hover,
.live-div:hover {
    background-color: rgb(238, 242, 233);
}

.body-div,
.live-div {
    cursor: pointer;
    text-align: center;
}

.create-title {
    margin: 30px auto;
    color: #2b2d2f;
}

.upload-loading-btn {
    display: none;
}

.live-div {
    text-align: center;
}

.selected {
    background-color: rgb(238, 242, 233);
}

.unselected {
    background-color: white;
}

.guidelines-head {
    background-image: url("../images/community-art-2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}

.card-text,
.create-title {
    border-bottom: .5px solid gray;
    padding-bottom: 15px;
}

.body-div p,
.live-div p {
    line-height: normal;
    margin-bottom: 0px;
    margin-top: 0px;
    padding-top: 14px;
    padding-bottom: 14px;
    font-size: 1.1em;
    color: gray;
}

.inactive {
    border-bottom: 2.2px solid white;
    color: gray;
}

.active {
    border-bottom: 2.2px solid limegreen;
    color: limegreen;
}

.active-img {
    color: limegreen;
}

.btn-success {
    background-color: limegreen;
}

.btn-light {
    color: limegreen;
    border: 1px solid limegreen;
}

.btn-light:hover {
    color: limegreen;
    border: 1px solid limegreen;
}

.inactive-img {
    color: gray;
}

.active-txt {
    color: limegreen;
}

.inactive-txt {
    color: gray;
}
@media screen and (max-width: 500px){
    .communities{
        display: none;
    }
}